<footer>
    <div class="container">
        <div class="formatFooter">
            <div>
                <h4>Información de contacto</h4>
                <p>Dirección: 123 Calle Principal, Ciudad, País</p>
                <p>Teléfono: +34:34567890</p>
                <p>Correo electrónico: g8team@g8team.com</p>
            </div>
            <div>
                <h4>Enlaces rápidos</h4>
                <ul>
                    <li><a routerLink="home/tienda">Tienda</a></li>
                    <li><a routerLink="home/hospital">Hospital</a></li>
                    <li><a routerLink="home/inventario">Inventario</a></li>
                    <li><a routerLink="home/xuxemons">Xuxemons</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>