/* Estilos para el formulario */
form {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #9ffffa;
  border-radius: 10px;
  background-color: #e6e6e6;
}

/* Estilos para los elementos del formulario */
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #fcabff;
  border-radius: 4px;
  box-sizing: border-box;
  /* Evita que el padding afecte el tamaño total */
}

/* Estilos para el enlace de volver */
.boton {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #add8e6;
  /* Azul cielo */
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #87cefa;
  /* Azul cielo más claro */
}

.atras {
  margin-left: 50%;
}