body {
  background-color: rgb(65, 65, 65);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.adminButons {
  display: flex;
  flex-flow: row;
  justify-content: right;
  gap: 20px;
  margin: 10px 0;
}

.adminButons button {
  background-color: #10567e;
  color: #ffffff;
  border: 1px solid rgb(255, 133, 249);
  border-radius: 10px;
  width: 200px;
  height: 40px;
}

.adminButons button:hover {
  background-color: #21799c;
}

.list-container {
  background: linear-gradient(to top, #95baff, #cce6ff);
  border: 2px solid rgb(255, 133, 249);
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 6px;
  margin: 1em 0;
  padding: 20px;
}

.list-container-activos {
  background: linear-gradient(to top, #95baff, #cce6ff);
  border: 2px solid rgb(255, 133, 249);
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-evenly ;
  align-items: center;
  align-content: center;
  margin: 1em 0;
  padding: 30px;
}

.card-flex {
  background-color: rgb(29, 29, 29);
  color: white;
  border: 2px solid rgb(255, 133, 249);
  border-radius: 10px;
  margin-top: 5px;
}

.card-flex-activos {
  background-color: rgb(29, 29, 29);
  color: white;
  border: 2px solid rgb(255, 133, 249);
  border-radius: 10px;
  margin-top: 5px;
  padding-top: 10px;
}

.card-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.imgFormat {
  display: flex;
  justify-content: center;
  padding: 10px 2px 10px 2px;
}

.alimentar-btn,
.eliminar-btn {
  background-color: pink;
  color: rgb(0, 0, 0);
  border: none;
  text-align: center;
  padding: 10px 20px;
  margin-top: 8px;
}

.alimentar-btn-fav{
  background-color: pink;
  color: rgb(0, 0, 0);
  border: none;
  text-align: center;
  padding: 10px 60px;
  margin-top: 8px;
}

.alimentar-btn {
  border-radius: 0 0 0 8px;
}

.alimentar-btn-fav {
  border-radius: 0 0 8px 8px;
}

.eliminar-btn {
  border-radius: 0 0 8px 0;
}

.alimentar-btn:hover,
.eliminar-btn:hover,
.alimentar-btn-fav:hover {
  background: linear-gradient(to top, #95baff, #cce6ff);
}

.button_slide {
  width: 50px;
  height: 50px;
}

.button_upload{
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.card-header {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.type_img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.card-title-type{
  display: flex;
  justify-content:left;
  padding: 10px;
  width: 100%;
}

a{
  cursor: pointer;
}