body {
  background-color: rgb(65, 65, 65);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.adminButons {
  display: flex;
  flex-flow: row;
  justify-content: right;
  gap: 20px;
  margin: 10px 0;
}

.adminButons button {
  background-color: #10567e;
  color: #ffffff;
  border: 1px solid rgb(255, 133, 249);
  border-radius: 10px;
  width: 200px;
  height: 40px;
}

.adminButons button:hover {
  background-color: #21799c;
}

.list-container {
  background: linear-gradient(to top, #95baff, #cce6ff);
  border: 2px solid rgb(255, 133, 249);
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 30px;
  margin: 1em 0;
  padding: 20px;
}

.card-flex {
  background-color: rgb(29, 29, 29);
  color: white;
  border: 2px solid rgb(255, 133, 249);
  border-radius: 10px;
  margin-top: 5px;
  min-width: 150px;
}

.card-title-chuches {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4px 8px;
}

img {
  margin: 10px 0 10px 20px;
  width: 100px;
  height: 100px;
}

.stackZone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(67, 67, 67);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid red;
  margin: -20px;
}

.card-flex-activos {
  background-color: rgb(29, 29, 29);
  color: white;
  border: 2px solid rgb(255, 133, 249);
  border-radius: 10px;
  margin-top: 5px;
  padding-top: 10px;
}

.list-container-activos {
  background: linear-gradient(to top, #95baff, #cce6ff);
  border: 2px solid rgb(255, 133, 249);
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: 1em 0;
  padding: 30px;
}

.card-title {
    display: flex;
    justify-content: center;
    width: 100%;
  }