* {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-around;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  border-radius: 20px;
  background-color: rgb(231, 231, 231);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  width: 100px;
  height: 100px;
  margin: 4% 0 2% 40%;
  border: 1px solid black;
  border-radius: 10px;
}

label {
  width: 80%;
  margin-left: 6%;
  margin-bottom: 10px;
}

input {
  width: 85%;
  margin-left: 6%;
  margin-bottom: 10px;
  border-radius: 5px;
}

p {
  width: 30%;
  margin-left: 6%;
  margin-top: 14px;
}

.botonRegistrar {
  background-color: #008cba;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.botonRegistrar:hover {
  background-color: #005f6b;
}

.botonLogin {
  background-color: #4caf50;
  color: white;
  margin: 10px 0 20px 85px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.botonLogin:hover {
  background-color: #348138;
}
